# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set gedooo = salt['grains.filter_by']({
    'default': {
        'dist': {
          'url': 'http://ftp.adullact.org/public/asalae/ODF-asalae.tgz',
          'hash': 'md5=528341e39b47e818cc139c966f1870f7',
}
    },

}, 

merge=salt['pillar.get']('gedooo:lookup')) %}
